/*
    Colors: [
        Outer space (Crayola): #2E3532
        Rich Black (FOGRA39):  #080708
        Shadow Blue:           #848FA5
        Blue (Crayola):        #3772FF
        Alice blue:            #E7ECEF
    ]

    Fonts: [
        font-family: 'Caudex', serif;
        font-family: 'Martel', serif;
        font-family: 'Muli', sans-serif;
    ]
 */

body {
  background-color: #080708;
  color: #fffeff;
}

header {
  text-align: center;
}

header h1 {
  font-family: "Muli", sans-serif;
}

header h3 {
  font-family: "Caudex", serif;
  padding: 0%;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: auto;
  transition: all 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.5);
}

#cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  width: 90%;
}

/* @media screen and (min-width: 1100px) {
  #cards {
    grid-template-columns: repeat(4, 1fr);
  }
} */
